# 1

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [18]:
# Reading in the csv file
df = pd.read_csv('clean_data_for_regression.csv',index_col=0)

Getting the proportion of public schoolers vs private schoolers

In [19]:
df

,American Indian/Alaska Native,Asian,Black,Hispanic,More than one race,Native Hawaiian/Other Pacific Islander,White,grade,male,preschool,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,0,0,0,0,0,0,1,9,1,1.0,...,1.0,1.0,0.0,250.0,28.0,1.0,1,0,1233.0,554.81
1,0,0,1,0,0,0,0,10,0,1.0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
2,0,0,0,1,0,0,0,10,1,1.0,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89
3,0,0,0,0,0,0,1,10,0,1.0,...,1.0,1.0,1.0,300.0,30.0,1.0,1,0,1913.0,439.36
4,0,0,0,0,0,0,1,9,0,1.0,...,1.0,1.0,0.0,378.0,20.0,0.0,1,1,502.0,428.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3107,0,0,0,0,0,0,1,10,1,1.0,...,1.0,1.0,1.0,270.0,30.0,1.0,1,1,2999.0,582.55
3108,0,0,0,0,0,0,1,10,0,1.0,...,1.0,1.0,0.0,270.0,30.0,1.0,1,1,2999.0,611.91
3109,0,0,0,0,0,0,1,10,0,1.0,...,1.0,1.0,0.0,270.0,25.0,1.0,1,1,2999.0,667.20
3110,0,0,0,1,0,0,0,10,0,1.0,...,0.0,1.0,1.0,270.0,28.0,1.0,1,1,2999.0,541.76
3111,0,0,0,0,0,0,1,9,1,1.0,...,1.0,1.0,0.0,300.0,20.0,1.0,1,0,987.0,465.58