## Importing libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns
from pandas.plotting import scatter_matrix
import math


import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('clean_data_for_regression.csv')

In [5]:
df.head()

,Unnamed: 0,American Indian/Alaska Native,Asian,Black,Hispanic,More than one race,Native Hawaiian/Other Pacific Islander,White,grade,male,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,2,0,0,0,0,0,0,1,9,1,...,1.0,1.0,0.0,250.0,28.0,1.0,1,0,1233.0,554.81
1,3,0,0,1,0,0,0,0,10,0,...,1.0,1.0,1.0,200.0,23.0,1.0,1,1,2640.0,458.11
2,4,0,0,0,1,0,0,0,10,1,...,1.0,1.0,1.0,250.0,35.0,1.0,1,1,1095.0,613.89
3,7,0,0,0,0,0,0,1,10,0,...,1.0,1.0,1.0,300.0,30.0,1.0,1,0,1913.0,439.36
4,8,0,0,0,0,0,0,1,9,0,...,1.0,1.0,0.0,378.0,20.0,0.0,1,1,502.0,428.96